<app-header *ngIf="dataHousingEstate" [listHousingEstates]="dataHousingEstate"
    (selectedHousingEstate)="getSelectedHousingEstate($event)"></app-header>

<div class="content-wrapper">
    <div class="container-fluid">

        <!-- SI NO HAY ASOCIADAS UNIDADES AL PORTERO-->
        <div *ngIf="!housingEstateAsoc" class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">

                    </div>
                    <div class="box-body" style="max-height: 300px; overflow: auto;">
                        <div class="alert alert-danger text-sm" role="alert">
                            No hay unidades residenciales asociadas a usted
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" *ngIf="HousingEstate">

            <!--NOMBRE UNIDAD-->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-home"></i>
                        {{HousingEstate.name}}
                        <a class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#infoUnidad">
                            Ver más
                        </a>
                    </div>
                </div>
            </div>

            <!-- CAMARAS -->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-body">
                        <div *ngIf="!(HousingEstate.securityCameras.length > 0)">
                            <a class="btn btn-app" style="height: 170px; padding: 60px 20px">
                                <i class="fa fa-play"></i>
                                No hay cámaras de seguridad configuradas
                            </a>
                        </div>
                        <div *ngIf="HousingEstate.securityCameras.length > 0">
                            <iframe *ngFor="let camera of HousingEstate.securityCameras" class="iframeCamera"
                                [src]="getSafeUrlCamera(camera.camera_ip, camera.code) | safeurl"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ALERTAS -->
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bell"></i>
                        <h3 class="box-title">Monitor de seguimiento</h3>
                    </div>
                    <div class="box-body" style="max-height: 300px; overflow: auto;">
                        <div *ngFor="let alerta of horusAlerts" class="alert alert-danger text-sm alerttecuido" role="alert">
                            <span style="text-align: right; font-size: 9px">{{alerta.date}}</span>
							<span>{{alerta.message}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PUERTAS -->
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bell"></i>
                        <h3 class="box-title">Control de acceso</h3>
                    </div>
                    <div class="box-body">
                        <div *ngFor="let gate of HousingEstate.gates" class="pull-left"
                            style="margin: 5px 0; width: 100%;">
                            <div [ngSwitch]="gate.state">
                                <button *ngSwitchCase="1" class="btn btn-success" style="width: 100%;"
                                    (click)="openDoor(gate.id)">
                                    {{gate.name}}
                                </button>
                                <button *ngSwitchCase="2" class="btn btn-danger" style="width: 100%;"
                                    (click)="closeDoor(gate.id)">
                                    {{gate.name}}
                                </button>
                                <button *ngSwitchCase="3" class="btn btn-warning" style="width: 100%;" placement="top"
                                    [ngbTooltip]="gate.state_description">
                                    <i class="fa fa-info-circle"></i>
                                    {{gate.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BUSCADOR RESIDENTES -->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-users"></i>
                        <h3 class="box-title">Residentes</h3>
                        <a class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#modalTelefono">
                            <i class="fa fa-phone" style="font-size: 30px;"></i>
                        </a>
                    </div>
                    <div class="box-body">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control"
                                (input)="onSearchChange($event.target.value)" placeholder="Buscar...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" (click)="searchApartment()"
                                    class="btn btn-flat"><i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <br />
                        <div class="aptosfound-container">
                            <div *ngIf="!(dataAptoFound.length > 0)">
                                No hay resultados
                            </div>
                            <div class="aptosfound-block" *ngFor="let apto of dataAptoFound">
                                <div class="aptosfound">
                                    <span class="title">{{apto.name}}</span>
                                    <a *ngIf="apto.cellphone_number_2" (click)="callApartment(apto.cellphone_number_2)"
                                        class="pull-right btn btn-default btn-xs"
                                        title="{{apto.cellphone_number_2}}">
                                        <i class="fa fa-phone"></i>
                                        Llamar 4
                                    </a>
                                    <a *ngIf="apto.cellphone_number_1" (click)="callApartment(apto.cellphone_number_1)"
                                        class="pull-right btn btn-default btn-xs"
                                        title="{{apto.cellphone_number_1}}">
                                        <i class="fa fa-phone"></i>
                                        Llamar 3
                                    </a>
                                    <a *ngIf="apto.phone_number_2" (click)="callApartment(apto.phone_number_2)"
                                        class="pull-right btn btn-default btn-xs"
                                        title="{{apto.phone_number_2}}">
                                        <i class="fa fa-phone"></i>
                                        Llamar 2
                                    </a>
                                    <a *ngIf="apto.phone_number_1" (click)="callApartment(apto.phone_number_1)"
                                        class="pull-right btn btn-default btn-xs"
                                        title="{{apto.phone_number_1}}">
                                        <i class="fa fa-phone"></i>
                                        Llamar 1
                                    </a>
                                </div>
                                <div class="description">
                                    <span><b>Residentes</b></span>
                                    <span>
                                        <span *ngFor="let resident of apto.residents">
                                            {{resident.name + ', '}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--MODAL INFO UNIDAD-->
            <div class="modal fade" id="infoUnidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="float: left;">{{HousingEstate.name}}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <address>
                                        {{HousingEstate.address}}<br />
                                        {{HousingEstate.phone_number}}<br />
                                        {{HousingEstate.neighborhood}} -
                                        {{HousingEstate.city.name}}
                                    </address>
                                </div>
                                <div class="col-md-12">
                                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                    </agm-map>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group btn-group-xs pull-right">
                                <button type="button" class="btn btn-default"
                                    *ngIf="HousingEstate.administrators.length > 0">
                                    <i class="fa fa-phone"></i>
                                    Administradores
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    *ngIf="HousingEstate.administrators.length > 0">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu" *ngIf="HousingEstate.administrators.length > 0">
                                    <li *ngFor="let admin of HousingEstate.administrators">
                                        <a href="#">
                                            <i class="fa fa-user"></i>
                                            {{admin.name}}
                                            ({{admin.cellphone}})
                                        </a>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default">
                                    <i class="fa fa-phone"></i>
                                    cuadrante ({{HousingEstate.police_phone_number}})
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--MODAL TELEFONO -->
            <div class="modal fade" id="modalTelefono" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="float: left;">Llamar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" name="phonenumber" [value]="phone_number"
                                style="margin-bottom:10px" />
                            <div class="keyboard">
                                <a (click)="selectedNumber('1')" class="btn btn-default">1</a>
                                <a (click)="selectedNumber('2')" class="btn btn-default">2</a>
                                <a (click)="selectedNumber('3')" class="btn btn-default">3</a>
                                <a (click)="selectedNumber('4')" class="btn btn-default">4</a>
                                <a (click)="selectedNumber('5')" class="btn btn-default">5</a>
                                <a (click)="selectedNumber('6')" class="btn btn-default">6</a>
                                <a (click)="selectedNumber('7')" class="btn btn-default">7</a>
                                <a (click)="selectedNumber('8')" class="btn btn-default">8</a>
                                <a (click)="selectedNumber('9')" class="btn btn-default">9</a>
                                <a (click)="selectedNumber('*')" class="btn btn-default">*</a>
                                <a (click)="selectedNumber('0')" class="btn btn-default">0</a>
                                <a (click)="selectedNumber('#')" class="btn btn-default">#</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a (click)="deletedNumber()" class="delete btn btn-warning">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                            <a (click)="callKeyboard(phone_number)" class="call btn btn-success">
                                <i class="fa fa-phone"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>